.pp-img {
    max-width: 120%;
    margin-left: 15%;
    border-radius: 50%;
}

.gm-content {
    padding-left: 0%
}

.spare-top {
    padding-top:10%;
}


/* Desktop PC Mode */
@media (min-width: 768px) {
    
    /* Login */

    .btn-login {
        color: #fff;
        width: 150px;
        height: 32px;
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
        background-color:#0AA390;
        border: solid 0px #ffffff;
    }

    .btn-register {
        color: #fff;
        width: 150px;
        height: 32px;
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
        background-color:#0AA390;
        border: solid 0px #ffffff;
    }

    .modal-header-regis {
        /* background:
        linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    }

    .modal-body-regis {
        /* background:
        linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    }

    /* ======================================= */
    /* =============== LAYOUT ================ */
    /* ======================================= */

    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        background-color: #343a40!important;
      }

    .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: -30px !important;
        width: 104.5%;
    }

    .navbar-dark .navbar-brand {
        color: #fff;
        margin-left: 30px;
    }

    #navbar {
        overflow: hidden;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .contents {
        padding-top: 60px;
      }

    /* disable icon poweroff */
    #logout-icon {
        display: none;
    }
    
    .logout {
        margin-left: 850px;
    }
    
    /* ======================================= */
    /* ============= LIST GENMAX ============= */
    /* ======================================= */

    .pp-img {
        width: 190px;
        margin-left: 10%;
        border-radius: 50%;
    }

    #u_name {
        font-size: 36px;
    }

    #u_verse_addr {
        font-size: 25px;
        margin-left: 3px;
    }

    .info {
        font-size: 16px;
        margin-left: 3px;
    }

    .info-2 {
        font-size: 20px;
    }
}


/* Mobile Mode */
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 767px) {

    /* ======================================= */
    /* =============== LAYOUT ================ */
    /* ======================================= */

    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        background-color: #343a40!important;
    }

    .navbar-brand {
        margin-left: -30px;
    }

    .navbar-toggler-icon {
        margin-right: -20px;
    }

    /* ======================================= */
    /* ============= LIST GENMAX ============= */
    /* ======================================= */

    .pp-img {
        margin-top: 10px;
        margin-left: 15%;
        border-radius: 50%;
    }

    #u_name {
        margin-top: 10px;
    }

    .stats {
        margin-left: 15px;
    }
    .info {
        font-size: 11px;
    }

    .content-gm {
        margin-left: 1px;
    }

    /* ========================================= */
    /* ============= STATUS GENMAX ============= */
    /* ========================================= */ 

    .pp-img2 {
        margin-top: 12px;
        max-width: 145%;
        /* margin-left: 6%; */
        /* border-radius: 50%; */
    }

}